// configuration vars
$darken-percentage: 11%;
$lighten-percentage: 9%;
$opacity-percentage: 17%;

// colors
$primary: blue;
$secondary: #059105;
// [1.]
$danger: #b121b9;
$warning: #c9c945;
// [1.]
$dark: #000;

// Border radius: 
$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$border-radius-xl: 0;
$border-radius-2xl: 0;
$border-radius-pill: 0;

// [2.]
// Spinners
$spinner-width: 3rem;

// rako-reikšės rinkinys MAP
$colors: (
  primary: $primary,
  secondary: $secondary,
  danger: $danger,
  warning: $warning,
);

$white: #eee;
$black: #252525;
$grey: #999;
$grey-darken: darken($grey, 11%);

// spacing
$rem: 16px;

$modifier-prefix: "--";